<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
<title>SmartDoc</title>
<div class="container-fluid" style="padding-top:6%;padding-left:5%;">
    <div class="row">
        <br><br><br>
        <div class="col-md-4">
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <div style="text-align: center;justify-content: center;align-items: center;padding-top:14%;">
                            <img src="assets/images/Doctor.png">
                            </div>

                            <h1 style="padding-left:25%; color:black;">
                                <b>Doctor</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title" style="padding-left:45px;color:white;">
                            <div class="row">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <button type="button" class="btn btn-info"><a routerLink="doctor-login">Login</a></button>
                                </div>
                                <div class="col-md-3" style="padding-left:10px;">
                                    <button type="button" class="btn btn-info"><a routerLink="doctor-register">Register</a></button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>

        <div class="col-md-4">
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <div style="text-align: center;justify-content: center;align-items: center;padding-top:14%;">
                            <img src="assets/images/Nurse.png">
                        </div>
                            <h1 style="padding-left:23%; color:black;">
                                <b>Assistant</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title" style="padding-left:45px;">

                            <div class="row">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <button type="button" class="btn btn-info"><a routerLink="assistant-login">Login</a></button>
                                </div>
                                <div class="col-md-3" style="padding-left:10px;">
                                    <button type="button" class="btn btn-info"><a routerLink="assistant-register">Register</a></button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>

        <div class="col-md-4">
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <div style="text-align: center;justify-content: center;align-items: center;padding-top:14%;">
                            <img src="assets/images/Pharmacist.png">
                            </div>
                            <h1 style="padding-left:21%; color:black;">
                                <b>Pharmacist</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title" style="padding-left:45px;">

                            <div class="row">
                                <div class="col-md-8" style="padding-left:0px;">
                                    <button type="button" class="btn btn-info"><a routerLink="pharmacist-login">Login</a></button>
                                </div>
                                <div class="col-md-3" style="padding-left:10px;">
                                    <button type="button" class="btn btn-info"><a routerLink="pharmacist-register">Register</a></button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>