<!--

<app-assistant-register></app-assistant-register>

<app-pharmacist-login></app-pharmacist-login>





<app-assistant-register></app-assistant-register>


<app-doctor-login></app-doctor-login>

<app-doctor-register></app-doctor-register>


<app-patient-login></app-patient-login>
<app-pharmacist-register></app-pharmacist-register>

<app-patient-register></app-patient-register>

<app-assistant-login></app-assistant-login>

<app-home></app-home>
<app-hospital-related></app-hospital-related>-->
<router-outlet></router-outlet>







