<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
<title>SmartDoc</title>
<div class="container-fluid">
    <div class="row" style="padding-top:6%;">
        <br><br><br>
        <div class="col-md-6" style="padding-left: 8%;">
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <div style="text-align: center;justify-content: center;align-items: center;padding-top:14%;">
                            <img src="assets/images/Patient.png">
                            </div>

                            <h1 style="padding-left:35%; color:black;">
                                <b>Patient</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title">
                            <div class="row">
                                <div class="col-md-9" style="padding-left:45px;">
                                    <button type="button" class="btn btn-info"><a routerLink="patient-login">Login</a></button>
                                </div>
                                <div class="col-md-2" style="padding-left:0px;">
                                    <button type="button" class="btn btn-info"><a routerLink="patient-register">Register</a></button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        </div>

        <div class="col-md-6" style="padding-right: 1%;padding-left:5%;">
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <div style="text-align: center;justify-content: center;align-items: center;padding-top:14%;">
                            <img  src="assets/images/Hospital.png">
                            </div>
                            <h1 style="padding-left:37%; color:black;">
                                <b>Hospital</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title" style="padding-left:45px;">

                            <button type="button" class="btn btn-info"><a routerLink="hospital-related">Login</a></button>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>