<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
<title>SmartDoc</title>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h1><b>Hospital Login</b></h1>
        <form #loginForm="ngForm" class="form-group" (ngSubmit)="loginSubmit(loginForm.value)" validate>
            <input type="text" style="margin-top: 20px;" id="login" class="fadeIn second form-control" name="userName" value="userName" ngModel #userName="ngModel" required
             placeholder="Username">
            <input type="password" style="margin-top: 15px;" id="password" class="fadeIn third form-control" placeholder="Password"  value="password" name="password" ngModel #password="ngModel" required >
            
            <input type="submit" style="margin-top: 35px;" class="fadeIn fourth"  value="LogIn">
        </form>

    </div>
</div>