<!DOCTYPE html>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.min.js"></script>
<link href="css/style1.css" rel="stylesheet">
<title>SmartDoc</title>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1><b>Doctor</b></h1>
            <form>
                <input type="text" style="margin-top: 20px;" class="fadeIn second" placeholder="Name">
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Username">
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Phone Number">
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Department">
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Password">
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Confirm Password">
                <input type="submit" style="margin-top: 35px;" class="fadeIn fourth" value="Register">
            </form>

            <div id="formFooter">
                <a href="#">Login?</a>
            </div>

        </div>
    </div>
</body>