<!DOCTYPE html>
<link href="css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>

<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<title>SmartDoc</title>
<div class="container-fluid">
    <div class="row">
        <br><br><br>
        <div class="col-md-6">
            <center>
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <center><img src="images/Patient.png"></center>

                            <h1 style="padding-left:35%; color:black;">
                                <b>Patient</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title">
                            <div class="row">
                                <div class="col-md-9" style="padding-left:45px;">
                                    <button type="button" class="btn btn-info">Login</button>
                                </div>
                                <div class="col-md-2" style="padding-left:0px;">
                                    <button type="button" class="btn btn-info">Register</button>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </center>
        </div>

        <div class="col-md-6">
            <center>
                <div class="wrimagecard wrimagecard-topimage" style="width:85%;">
                    <a href="#">
                        <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                            <center><img src="images/Hospital.png"></center>
                            <h1 style="padding-left:37%; color:black;">
                                <b>Hospital</b>
                            </h1>
                        </div>
                        <div class="wrimagecard-topimage_title" style="padding-left:45px;">

                            <button type="button" class="btn btn-info">Login</button>
                        </div>
                    </a>
                </div>
            </center>
        </div>
    </div>
</div>