<!DOCTYPE html>
<title>SmartDoc</title>

<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h1><b>Pharmacist Registration</b></h1>
            <form #registerForm="ngForm"  (ngSubmit)="register()">
                <input type="text" style="margin-top: 20px;" class="fadeIn second" placeholder="Name" name="pharmacistName" [(ngModel)]='pharmacist.pharmacistName'>
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Username" name="pharmacistUsername" [(ngModel)]='pharmacist.userName'>
                <input type="text" style="margin-top: 15px;" class="fadeIn second" placeholder="Phone Number" name="pharmacistPhoneNumber" [(ngModel)]='pharmacist.mobileNumber'>
                <input type="password" style="margin-top: 15px;" class="fadeIn second" placeholder="Password" name="pharmacistPassword" [(ngModel)]='pharmacist.password'>
                <input type="password" style="margin-top: 15px;" class="fadeIn second" placeholder="Confirm Password" name="pharmacistConfirmPassword">
                <input type="submit" style="margin-top: 35px;" class="fadeIn fourth" value="Register">
            </form>

            <div id="formFooter">
                <a routerLink="pharmacist-login">Login?</a>
            </div>

        </div>
    </div>
</body>

<script> 
    function checkPassword(form) { 

        pharmacistPassword = form.pharmacistPassword.value; 

        pharmacistConfirmPassword = form.pharmacistConfirmPassword.value; 
        if (pharmacistPassword != pharmacistConfirmPassword) { 

            alert ("\nPassword did not match: Please try again...") 

            return false; 

        } 
        else {

        return true;
        }
    }
</script>
